{% extends "main.html" %}
{% block content %}
 <div>
   <h1>Matrices Being Created With the Following Attributes</h1>
 </div>
 <div>
   <h2>Number of rows in matrix A and columns in matrix B: {{ A_rows_B_columns }}</h2>
 </div>
 <div>
   <h2>Number of rows in matrix B and columns in matrix A: {{ B_rows_A_columns }}</h2>
 </div>
 <div>
   <h2>Maximum value for random numbers: {{ max_random_value }}</h2>
 </div>
 <div>
   <h2>Location to write data: {{ output_location }}</h2>
 </div>
{% endblock %}